<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/new_style.css')}}">
    </head>
    <body>
        <!-- 頂部的排 -->
        <div class="row" id="top-row">
            <!--<img>
            <h1></h1>-->
            <!-- tab切換紐 -->
            <div class="row" style="grid-column: 2; justify-self: center;">
                <button class="tab select" id="medical-btn">醫療囑咐</button>
                <button class="tab" id="diary-btn">情緒日記</button>
                <button class="tab" id="graph-btn">健康趨勢</button>
            </div>
        </div>
        <!-- 頁面主體 -->
        <div class="row" id="main">
            <!-- 左欄 -->
            <div class="main-column" style="width: 25%;" id="input-col">
                <div class="row">
                    <img>
                    <h2>醫囑錄入</h2>
                </div>
                <h4>使用語音輸入</h4>
                <button class="btn" id="upload-mp3">點擊開始錄入醫囑內容</button>
                <h4>或手動輸入醫囑內容</h4>
                <textarea id="message" name="message" placeholder="請輸入文字……" class="textarea"></textarea> 
                <div class="row">
                    <button class="btn" id="erase">清除內容</button>
                    <button class="btn select" id="analyze">翻譯並執行醫囑解析</button>
                </div>
            </div>
            <!-- 結果顯示頁面(左欄) -->
            <div class="main-column" style="width: 25%; display: none;" id="output-col">
                <h2>醫囑錄入</h2>
                <h4>原始醫囑</h4>
                <textarea id="original-text" class="textarea" readonly></textarea> 
                <h4>醫囑完整翻譯</h4>
                <textarea id="translated-text" class="textarea" readonly></textarea>
                <button class="btn" id="return">返回輸入</button>
            </div>
            
            <!-- 結果顯示頁面 -->
            <div class="main-column" style="left: 27%; background: #F1F5F9; width: 75%;">
                <div class="float-row">
                    <h2 style=" display: inline;">目標翻譯語言：</h2>
                    <button class="btn language-btn select" id="zh-Hant">繁體中文</button>
                    <button class="btn language-btn" id="vi">Tiếng Việ</button>
                    <button class="btn language-btn" id="id">Bahasa Indonesia</button>
                </div>
                <div class="float-row" id="table-container" style="display: none;"> 
                    <!-- 表格插入的地方 -->
                </div>
            </div>
        </div>

        <!-- 偵測到PII後顯示的浮窗 -->
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <h2>安全攔截：偵測到敏感個資</h2>
                <p id="popup_text"></p>
                <div class="row">
                    <button class="btn" id="ignore">忽略送出</button>
                    <button class="btn pii-btn" id="pii-redacted">確定遮蔽並解析</button>
                </div>
            </div>
        </div>

        <!-- 語音輸入的浮窗 -->
        <div class="overlay" id="speech-overlay">
            <div class="popup" id="speech-popup">
                <h2>語音錄入中</h2>
                <p>您現在可以開始說話。</p>
                <p>當您暫停幾秒後，我們會關閉此浮窗自動結束語音輸入並整理內容。</p>
            </div>
        </div>

        <script src="//unpkg.com/jquery"></script>
        <script src="{{url_for('static', filename='js/medical.js')}}"></script>
        <script src="{{url_for('static', filename='js/tab.js')}}"></script>
    </body>
</html>