<div class="float-row result-row">
    <p>今日情緒</p>
    <div style="grid-column: 1">
    <!-- <img> -->
    <span>負面情緒</span></div>
    <div style="grid-column: 2;">
        <div class="score-bar">
            <div class="score-bar negative" style="width: 72%;"></div>
        </div>
        <p>情緒強度 72%</p>
    </div>
</div>
    <div class="float-row">
        <p>症狀紀錄</p><div class="row">
            <div class="dot neutral"></div>
            <div class="column">
                <span>肌肉僵硬</span>
                <span>輕度</span><span>正在發生</span><img><span>發生時間：現今</span></div></div><hr><div class="row">
            <div class="dot negative"></div>
            <div class="column">
                <span>下背痛</span>
                <span>嚴重</span><span>正在發生</span><img><span>發生時間：現今</span></div></div><hr><div class="row">
            <div class="dot neutral"></div>
            <div class="column">
                <span>位元-度量單位</span>
                <span>輕度</span><span>正在發生</span></div></div><hr><div class="row">
            <div class="dot neutral"></div>
            <div class="column">
                <span>唐氏症</span>
                <span>輕度</span><span>正在發生</span><img><span>發生時間：昨天</span></div></div><hr><div class="row">
            <div class="dot neutral"></div>
            <div class="column">
                <span>創傷性傷害</span>
                <span>輕度</span><span>正在發生</span></div></div><hr><div class="row">
            <div class="dot neutral"></div>
            <div class="column">
                <span>爆發</span>
                <span>輕度</span><span>正在發生</span></div></div><hr><div class="row">
            <div class="dot"></div>
            <div class="column">
                <span>感覺健康</span><span>可能發生</span><img><span>發生時間：下午好</span></div></div><hr></div>